*.aux
*.fdb_latexmk
*.fls
*.log

svg-inkscape/

# icons/attack-*-*.png
# icons/block-*-*.png
# !icons/block-night-mask.png
# !icons/attack-night-mask.png
icons/processed/*

art/*/*-*-*.png

output/*

latex/glorybound.tex
latex/glorybound.pdf


# python stuff
.venv
launch.json
settings.json
