<div class="mini-card {{ card.types | join(' ') }}">
    <main>
        <div class="title"><div class="autofit"><div class="vcenter">{{ card.name }}</div></div></div>
        <div class="divider"><div class="divider-inner"></div></div>
        <div class="types"><div class="autofit"><div class="vcenter">{{ card.type_line }}</div></div></div>

        <div class="cost">
            {% for n in range(card.cost) %}
                <img class="inspiration" src="../../assets/icons/inspiration.png" />
            {% endfor %}
        </div>

        <div class="text"><div class="autofit">{{ card.rendered_text_mini | safe }}</div></div>
    </main>
</div>
