<div class="card {{ card.types | join(' ') }}">
    <div class="background">
    {% if card.inspiration %}
        <img src="{{ card.inspiration_art }}" />
    {% endif %}
    </div>
    <div class="border"></div>

    <!-- <img class="reference-image" src="Set Ablaze.png" /> -->

    <main>
        <div class="content-bg"></div>
        <div class="title"><div class="autofit"><div class="vcenter">{{ card.name }}</div></div></div>
        <div class="divider"><div class="divider-inner"></div></div>
        <!-- <div class="types"><div class="autofit"><div class="vcenter">{{ card.type_line }}</div></div></div> -->

        <!-- <div class="cost">{{ card.cost }}</div> -->
        <div class="cost">
            {% if card.is_equip %}
                <img class="equip" src="../../assets/icons/equip.png" />
            {% endif %}
            {% for n in range(card.cost) %}
                <img class="inspiration" src="../../assets/icons/inspiration.png" />
            {% endfor %}
        </div>

        <div class="symbols">
            {% for symbol in card.symbols %}
                <img class="symbol {{ symbol.0 }}" src="../../assets/icons/{{ symbol.1 }}.png" />
            {% endfor %}
        </div>

        <div class="art"><img src="{{ card.art_filename }}" /></div>

        <div class="text"><div class="autofit">{{ card.rendered_text | safe }}</div></div>
    </main>

    {% if card.box_frame %}
        <div class="box-frame">
            <img src="../../assets/{{ card.box_frame }}" />
        </div>
    {% endif %}

    <footer>
        <div class="icons">
            {% for icon in card.sorting_icons %}
                <img class="{{ icon.0 }}" src="../../assets/icons/{{ icon.1 }}.png" />
            {% endfor %}
        </div>
        <div class="left">{{ group.name }}</div>
        <div class="right">{{ date }}&nbsp;&nbsp;&ndash;&nbsp;&nbsp;GLORYBOUND</div>
        <div class="center"></div>
    </footer>
</div>
