@use 'colors';

.card {

    &.landscape {
        --width: 88mm;
        --height: 63mm;

        footer {
            transform: rotate(-90deg);
            transform-origin: left top;
            left: calc(var(--width) - 9.5mm);
            top: calc(var(--height) - 4.5mm);
        }

        main {
            width: calc(var(--width) - 14mm);
            height: calc(var(--height) - 9mm);

            /* heights: title divider type spacer art spacer text */
            // grid-template-rows: 6mm 0.5mm 4mm 2mm 30mm 0.5mm 34mm;
            grid-template-rows: 6mm 0.5mm 4mm 0mm 43.5mm;
            /* widths: left-column spacer center spacer right-column */
            // grid-template-columns: 7mm 2mm 36mm 2mm 7mm;
            grid-template-columns: 33mm 1mm 2mm 36mm 2mm;

            .title {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
            }
            
            .divider {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
            }
            
            .types {
                grid-column: 4 / 5;
                grid-row: 3 / 4;
            }
    
            .cost {
                grid-column: 1 / 2;
                grid-row: 1 / 6;
            }
            
            .art {
                grid-column: 1 / 2;
                grid-row: 1 / 6;

                & > img {
                    border-radius: 1mm 0mm 0mm 1mm;
                    /* to make the image fit despite the slightly wrong aspect ratio */
                    object-fit: cover;
                    margin: 0;
                }
            }
            
            .text {
                grid-column: 3 / 6;
                grid-row: 5 / 6;

                .mini-card {
                    display: flex;
                    justify-content: center;
                    margin-top: 4mm;

                    main {
                        width: auto;
                        height: auto;
                        grid-template-rows: 4mm 0.5mm 2.5mm 0.5mm 1fr;
                        grid-template-columns: 5mm 1mm 24mm 1mm 5mm;
                        position: relative;
                        top: 0mm;
                        left: 0mm;

                        .title {
                            grid-column: 3/4;
                            font-size: 10pt;
                            height: 3.5mm;
                            padding-top: 0.25mm;
                        }

                        .divider {
                            grid-column: 3/4;

                            .divider-inner {
                                width: 22mm;
                            }
                        }

                        .types {
                            grid-column: 3/4;
                            font-size: 7pt;
                        }

                        .cost .inspiration {
                            width: 3mm;
                            height: 3mm;
                        }

                        .text {
                            grid-column: 1/6;
                            font-size: inherit;

                            .sequence {
                                margin-top: 0em;
                                margin-bottom: 0em;
                            }
                        }
                    }
                }
                
            }
        }
    }


    &.conjured {
        --color-text: #fff;
        --color-textbox-bg: #{$dark-gray};

        .art > img {
            filter: #{"invert()"};
        }

        .symbols > .archetype {
            filter: #{"invert()"};
        }
    }


    // == background colors ==

    &.move {
        --color-bg-left: #{$purple};
        --color-bg-right: #{$purple}; 

        &.starter {
            --color-bg-right: #{$light-purple}; 
        }

        &.signature {
            --color-bg-left: #{$pinkish-purple};
            --color-bg-right: #{$light-pinkish-purple}; 
        }

        &.ascension {
            --color-bg-left: #{$bold-purple}; 
            --color-bg-right: #{$gold}; 
        }

        main {
            .content-bg {
                margin-top: 1.5mm;
                grid-column: 1/6;
                grid-row: 7/8;
            }

            .title, .types {
                color: #fff;
            }

            .art > img {
                filter: #{"invert()"};
            }
        }
    }

    &.mentor {
        --color-bg-left: #{$water};
        --color-bg-right: #{$red}; 

        --color-textbox-bg: #{$transparent-white};
    }

    &.item {
        // --color-bg-left: #{$dark-beige};
        // --color-bg-right: #{$beige}; 
        // --color-bg-left: #{$beige};
        // --color-bg-right: #{$light-beige}; 
        --color-bg-left: #{$warm-gray};
        --color-bg-right: #{$warm-gray-light}; 

        --color-textbox-bg: #{$transparent-white};
    }

    &.augment {
        --color-bg-left: #{$dark-blue};
        --color-bg-right: #{$blue}; 
    }

    &.rules {
        --color-bg-left: #{$dark-gray};
        --color-bg-right: #{$dark-gray}; 

        --color-text: #fff;
        --color-textbox-bg: #{$dark-gray};

        .divider-inner {
            background: #fff;
        }

        .text {
            grid-row: 5/8;
        }

        .art {
            display: none;
        }
    }

    &.inspiration {
        // --color-bg-left: #fff;
        // --color-bg-right: #fff; 

        .background > img {
            // background-image: url(../../assets/art/artificer.png);
            // background-size: 100%;
            width: 100%;
            height: 100%;
        }

        .symbols > .archetype {
            filter: #{"invert()"};
        }

        .symbols > .starter {
            filter: #{"brightness(0) invert(1)"};
        }

        

        main {
            color: #fff;
            
            --color-bg-left: #fff;
            --color-bg-right: #fff; 
            
            .content-bg {
                background: none;
            }

            .art, .text {
                display: none
            }
        }
    }
}
