@use 'helpers';


:root {
    --width: 63mm;
    --height: 88mm;
}

body {
    /* scale to have the correct dpi */
    // transform: scale(calc(250/96));
    transform: scale(calc(600/96));
    transform-origin: top center;
    background-color: var(--color-print-bg);
    overflow: hidden;
}


.card {
    /* card size */
    width: var(--width);
    height: var(--height);
    
    /* to make the carousel work */
    min-width: var(--width);

    /* set this as out zero point for absolute positioning */
    position: relative;

    /* make sure we don't go outside the given size */
    margin: auto;
    overflow: hidden;


    font-family: 'Crimson Pro';
    color: var(--color-text);
    line-height: 1.1;
    
    background-color: var(--color-print-bg);
    
    
    .border {
        position: absolute;
        width: var(--width);
        height: var(--height);
    
        /* card border */
        border: 2.5mm solid var(--color-border);
        border-radius: 3.175mm;
    }
    
    .background {
        position: absolute;
        width: calc(var(--width) - 3mm);
        height: calc(var(--height) - 3mm);
        top: 1.5mm;
        left: 1.5mm;
        
        background: linear-gradient(45deg, var(--color-bg-left), var(--color-bg-right));
    }
    
    .reference-image {
        position: absolute;
        width: var(--width);
        height: var(--height);
    
        opacity: 0.2;
        z-index: 10;
    }
    
    main {
        position: absolute;
        width: calc(var(--width) - 9mm);
        height: calc(var(--height) - 14mm);
        left: 4.5mm;
        top: 4.5mm;
    
        // border-radius: 1mm;
        // background-color: var(--color-textbox-bg);
    
        /*  grids!! */
        display: grid;
        /* heights: title divider type spacer art spacer text */
        grid-template-rows: 6mm 0.5mm 4mm 2mm 27mm 0.5mm 34mm;
        /* widths: left-column spacer center spacer right-column */
        grid-template-columns: 7mm 2mm 36mm 2mm 7mm;


        .title {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            align-self: center;
            justify-self: center;

            @include helpers.autofit;
        
            font-family: "Grenze";
            font-size: 14pt;
            font-weight: bold;
        }
        
        .divider {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            align-self: center;
            justify-self: center;
        }
        
        .divider-inner {
            height: 0.5mm;
            width: 36mm;
        
            // background-color: var(--color-divider);
            border-radius: 0.25mm;

            background: linear-gradient(45deg, var(--color-bg-left), var(--color-bg-right));
            background-size: var(--width) var(--height);
        }
        
        .types {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            align-self: center;
            justify-self: center;

            @include helpers.autofit;
        
            font-family: "Grenze";
            font-size: 7pt;
            font-weight: 600;
            font-style: italic;

            word-spacing: 0.1em;
        }

        .cost {
            grid-column: 1 / 2;
            grid-row: 1 / 6;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;

            .inspiration {
                width: 5mm;
                height: 5mm;

                margin: 1mm;
                margin-bottom: 0mm;

                opacity: 0.9;
            }
        }

        .symbols {
            grid-column: 5 / 6;
            grid-row: 1 / 6;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;

            .symbol {
                width: 5mm;
                height: 5mm;

                margin: 1mm;
                margin-bottom: 0mm;

                opacity: 0.9;
            }
        }
        
        .art {
            grid-column: 3 / 4;
            grid-row: 5 / 6;

            display: flex;
        
            & > img {
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                display: block;
            }

            &.placeholder {
                background: linear-gradient(45deg, var(--color-bg-left), var(--color-bg-right));
                opacity: 0.3;

                & > img {
                    display: none;
                }
            }
        }
        
        .text {
            grid-column: 1 / 6;
            grid-row: 7 / 8;
            align-self: center;
            // justify-self: stretch;

            @include helpers.autofit;
            & > .autofit {
                padding: 2mm;
            }
        
        
            font-family: "Crimson Pro";
            font-size: 10pt;
        }

        .content-bg {
            grid-column: 1/6;
            grid-row: 1/8;
            background-color: var(--color-textbox-bg);
            border-radius: 1mm;
            border-radius: 1mm;
        }
    }

    
    footer {
        position: absolute;
        width: 54mm;
        height: 7mm;
        left: 4.5mm;
        top: calc(var(--height) - 9.5mm);
        
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        column-gap: 1mm;
        
        font-family: "Grenze";
        font-size: 6pt;
        font-weight: 600;
        color: var(--color-footer-text);

        .icons {
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            & > * {
                width: 5mm;
                height: 5mm;
                margin: 1mm;
                margin-left: 0mm;
                object-fit: contain;

                opacity: 0.9;

                // background: var(--color-textbox-bg);
                // background: #fff;
                // border-radius: 1mm;
                // padding: 0.5mm;

                filter: #{"invert()"};
            }
        }

        .left {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
            @include helpers.vcenter;

            padding-top: 0.5mm;
        }
        
        .right {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-self: end;
            @include helpers.vcenter;
        }
    }
}
