
// from: https://stackoverflow.com/a/26074244
@mixin vcenter() {
    &::after {
        content: ':'; /* must contain text to get the auto height of the line box */
        display: inline-block;
        vertical-align: middle;
        width: 0; /* making pseudo elenent invisible */
        overflow: hidden;
    }
}

.vcenter {
    @include vcenter;
}

.center {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.carousel {
    // display: flex;
    // flex-direction: column;
    // gap: 4mm;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    height: calc(var(--height) * 3);
    width: calc(var(--width) * 3);

    margin: auto;
    
    .single-card {
        height: calc(var(--height) * 3);
        width: calc(var(--width) * 3);

        scroll-snap-align: start;
        border: none;
        display: block;

        margin: 0;
    }
}

@mixin autofit() {
    max-width: 100%;
    max-height: 100%;
}

.autofit {
    // display: inline-block;
}
